.qty {
  margin-left : 5px;
}

.container {
  padding: 20px !important;
}

h1 {
  padding: 10px 10px 10px;
}

.cancel {
  margin-left: 5px;
}

#calculate {
  margin-right: 50px;
}

.quantity {
  width : 30%;
}

.subtotal {
  text-align: right;
}

#add {
  padding: 5px 15px 4px;
  border: solid black 0.5px;
  margin-left: -10px;
}

#addStock input {
  margin-right: 20px;
}
